
.container {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

/*NAV*/
.cor_nav{
	background-color:#DCDCDC;
}



/*SOBRE MIM*/
.sobre {
  background-color: rgb(238, 238, 238);
  width: 100%;
  border: 5px solid #b1aeae;
  padding: 50px;
  margin-top: 50px;
  position: relative;
}
.sobre p{
	font-size: 20px;
}



/*HOBBIES*/
#hobby {
  padding-top: 0;
  padding-left: all;
  text-align: center;

}

.hobb {
  margin-bottom: 25px;
 
  
}

.hobb {
  text-align: center;
  color: #000000;
  font-size: 16px;
 
}


#hobby .img-responsive {
  width: 75%;
  text-align: center;
  
}

.hob-info h3 {
  margin-top: 35px;

}

.hob-info h4 {
  font-size: 14px;
  margin-bottom: 20px;
  color: rgb(158, 156, 156);
}
/*TRABALHOS*/

#trabalhos{
	margin: auto;
	font-size: 20px;
	width: 100%;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
  

}
#trabalhos img{
	width: 85%;
}

.trabalhos {
	
  margin-top: 30px;
}






/*COMPETENCIAS SOCIOMOCIONAIS*/
#hobby2 {
  padding-top: 0;

  
}

.hobb2 {
  margin-bottom: 25px;
  text-align: center;
  background-color: rgb(238, 238, 238);
  margin-top: 30px;
  width: 100%;
  text-align: center;
  color: #000000;
  font-size: 16px;
  
}

.hobb2 h2 {
	margin-top: 30px;
 
}


#hobby2 .img-responsive {
  width: 100%;
  text-align: center;
  
}

.hob-info2 {
	margin-top: 10px;
	font-size: 18px;
  
  }
.hob-info2 h3 {
  margin-top: 35px;

}

.hob-info2 h4 {
  font-size: 14px;
  margin-bottom: 20px;
  color: rgb(104, 104, 104);
}
  
/*CONTATO*/
#footer{
	background-image: url("img/ffooter.png");
}
.footer .footer-top {
	padding: 40px 0 70px;
	background-color: #fff;
	background-repeat: repeat ;
	background-attachment: scroll ;
	background-clip: border-box ;
	background-origin: padding-box ;
	background-position: 0% 0% ;
	background-size: auto auto ;
}

.footer .footer-top h2 {
	color: #353535;
	font-size: 18px;
	text-transform: uppercase;
	display: block;
	margin-bottom: 20px;
	position: relative;
}

.footer .footer-top li a{
	color:#555;
}


.footer .footer-top .address .list li a{
	color:#555;
}

.footer .footer-top .social li {
	display: inline-block;
	margin-right: 5px;
	color: #bbb;
	font-weight: 500;
}

.footer .footer-top .social a {
	display: block;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	color: #fff;
}
.footer .footer-top .social a i{
	color:#fff;
}
.footer .footer-top .social li:hover a{
	background:#353535;
}
.footer .footer-top .links li i{
	margin-right:5px;
}

.footer .footer-bottom {
	background: #353535;
	padding: 15px 0;
	text-align: center;
}
.footer .copyright p {
	color: #ddd;
	margin: 0;
	
}
.footer .copyright p a {
	color: #fff;
}
.footer .copyright span{
	margin:0px 5px;
}




/*medias*/
@media (min-width: 768px) {
	.container {
	  width: 760px;
	  font-family: Comic Sans MS, Comic Sans, cursive;
	}
  }
  @media (min-width: 992px) {
	.container {
	  width: 980px;
	  font-family: Comic Sans MS, Comic Sans, cursive;
	}
  }
  @media (min-width: 1200px) {
	.container {
	  width: 1480px;
	  font-family: Comic Sans MS, Comic Sans, cursive;
	}
  }
  
